﻿@model domain.Produit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <h5 class="card-header">Nouveau document</h5>

    @using (Html.BeginForm("Create", "ProduitBack", FormMethod.Post, new { enctype = "multipart/form-data", id = "validationform" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Prix</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.prix, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le prix*" } })
                    @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Description</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", placeholder = "donner la description*" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Image</label>
                <div class="col-12 col-sm-8 col-lg-6">
                   <input type="file" name="image" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Date de production</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.dateProd, new { htmlAttributes = new { @class = "form-control", placeholder = "donner la date de production*" } })
                    @Html.ValidationMessageFor(model => model.dateProd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Categorie</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EnumDropDownListFor(model => model.categorie, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.categorie, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">File</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.TextBoxFor(model => model.Files, new { @type = "file", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.Files)
                </div>
            </div>
            <div class="form-group row text-center">
                <div class="col-md-offset-2 col-md-10">
                    <a href="javascript:document.getElementById('validationform').submit();" onclick="javascript: myFunction();" class="btn btn-space btn-primary">Create</a>
                    <a href="/ProduitBack/Index" class="btn btn-space btn-secondary">Annuler</a>
                </div>
            </div>
        </div>
    }
</div>
<script>
    var form = document.getElementById('validationform');

    function myFunction() {
        if (form.checkValidity()) {
            alert("Produit creer avec succes !!!!!");
        }
    }
</script>
