﻿@model IEnumerable<domain.Produit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 style="text-align:center;color:aqua;" class="pageheader-title">Gestion documents </h2>
            @Html.ActionLink("Create New", "Create", new { @class = "btn btn-space btn-primary" })
        </div>
    </div>
</div>

<table class="table">
    <thead class="bg-light">
        <tr class="border-0">

            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        @Html.Hidden("itemid", item.idProduit, new { id = "itemid" })
    <tr id="row_@item.idProduit">
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
           <img src="@Url.Content(item.imagePath)" width="50" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        
        <td>
          
            <a href="#" onclick="ConfirmDelete(@item.idProduit)">Supprimer</a>
        </td>
    </tr>
    }

</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Supprimer !</h3>
            </div>
            <div class="modal-body">
                <h4>Voulez-vous supprimer cet produit ?? </h4>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Annuler</a>
                <a href="#" class="btn btn-success" onclick="DeleteProd()">Confirmer</a>
            </div>

        </div>

    </div>
    @*hidden field for storing current userId*@
    <input type="hidden" id="hiddenEmployeeId" />
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script>

    var ConfirmDelete = function (EmployeeId) {

        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal('show');

    }

    var DeleteProd = function () {

        // $("#loaderDiv").show();

        var empId = $("#hiddenEmployeeId").val();

        $.ajax({

            type: "POST",
            url: "/ProduitBack/Delete/",
            data: { id: empId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + empId).remove();

            }

        })

    }
</script>