﻿
@{
                /**/

                ViewBag.Title = "ForgotPassword";
                Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword","Login",htmlAttributes: new { id ="forgotpassform" }, method: FormMethod.Post))
{
    
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">

            @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Your email for verification*" })
        </div>
        <div class="htc__login__btn mt--30">
            <a href="javascript:document.getElementById('forgotpassform').submit();">Send</a>
        </div>
    
}

