﻿@model web.Models.UserLogin

@{
                /**/

                ViewBag.Title = "Login";
                Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



@using (Html.BeginForm("Login","Login",htmlAttributes: new { id = "loginform" },method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="text-success">
        @ViewBag.Message
    </div>
    <div class="login">

        <div>
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "tap your email*" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="login">

        <div>
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "tap your password*" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="tabs__checkbox">
        @Html.EditorFor(model => model.RememberMe)
        @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
        <span> Remember me</span>
        <span class="forget">@Html.ActionLink("Forget Password ?", "ForgotPassword", "Login")</span>
    </div>
    
    <div class="htc__login__btn mt--30">
        <a href="javascript:document.getElementById('loginform').submit();">Login</a>
    </div>

</div>
        }


       