﻿@model domain.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("Registration", "Login", htmlAttributes: new { id = "registerform" }, method: FormMethod.Post))
{


    @Html.AntiForgeryToken()

    if (ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
    {

    }
    else
    {
    
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div id="register" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
            <div class="login">

                <div>
                    @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control", placeholder = "first Name*" } })
                    @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="login">

                <div>
                    @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control", placeholder = "last Name*" } })
                    @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="login">

                <div>
                    @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control", placeholder = "login*" } })
                    @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="login">

                <div>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "email*" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="login">

                <div>
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "password*" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="login">
                <div>
                    @Html.EditorFor(model => model.Confirmpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "confirm password*" } })
                    @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <div class="htc__login__btn mt--30">
                <a href="javascript:document.getElementById('registerform').submit();" onclick="javascript: myFunction();">Inscription</a>
            </div>

        </div>
    }
}
<script>
    var form = document.getElementById('registerform');

function myFunction() {
  if (form.checkValidity()) {
      alert("Vous êtes inscrit avec success ! Merci de consulter votre boite mail pour securiser vos données");
  }
}
</script>
