﻿@model web.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm("ResetPassword", "Login",htmlAttributes: new { id = "resetform" },method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <div class="text-danger">
            @ViewBag.Message
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login">
           
            <div>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="login">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
         @Html.HiddenFor(a=>a.ResetCode)
        </div>

        <div class="htc__login__btn mt--30">
            <a href="javascript:document.getElementById('resetform').submit();">Reset</a>
        </div>
    </div>
}


