﻿@model IEnumerable<domain.Statu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(http://localhost:60121/Content/images/blog/big-images/12.jpg) no-repeat scroll center center / cover;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Blog Details</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="Produit/Index">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Blog Details</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Bradcaump area -->
<!-- Start Our Blog Area -->
<section class="blog-details-wrap ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="blog-details-left-sidebar">
                     <div class="blog-details-top">
                        <!--Start Blog Thumb -->
                        <!--End Blog Thumb -->
                        <h2>Lets talk !</h2>
                         <div class="blog-admin-and-comment">
                            <p>BY : <a href="#">ADMIN</a></p>
                            <p class="separator">|</p>
                            <p>3 COMMENTS</p>
                        </div>
                        <div class="postandshare">
                            <div class="post">
                                <p>TAGS :</p>
                            </div>
                        </div>
                         <div class="our-blog-comment mt--20">
                             <div class="blog-comment-inner" id="load">
                                 <h2 class="section-title-2">Vous pouvez discuter içi</h2>
                                 <!-- Start Single Comment -->

                                 @foreach (var item in Model)
                                 {


                                     <div class="single-blog-comment">
                                         <div class="blog-comment-thumb">
                                             <img src="~/Content/images/comment/1.jpg" alt="comment images">
                                         </div>
                                         <div class="blog-comment-details">
                                             <div class="comment-title-date">
                                                 <div class="reply">

                                                     <h2>
                                                         <a href="#">
                                                             @Html.DisplayFor(modelItem => item.userOfStat.nom)

                                                         @Html.DisplayFor(modelItem => item.userOfStat.prenom)
                                                     </a>
                                                 </h2>
                                                 <h2><a href="#"></a></h2>
                                                 <p>
                                                     @Html.DisplayFor(modelItem => item.datStat) /


                                                     <a value="comment" class="btn btn comment-reply" onclick="comAction(@item.iStatu)">Commenter</a>
                                                     <!--<button type="button" class="btn btn comment-reply" data-id="@item.iStatu">Commenter</button>-->

</div>
                                         </div>
                                         <p>@Html.DisplayFor(modelItem => item.sujet).</p>
                                         <input hidden="hidden" class="statid"/>


                                     </div>
                                 </div>

                                 foreach (var c in item.listComByStat)
                                 {
                                     <div class="single-blog-comment comment-reply">
                                         <div class="blog-comment-thumb">
                                             <img src="~/Content/images/comment/2.jpg" alt="comment images">
                                         </div>
                                         <div class="blog-comment-details">
                                             <div class="comment-title-date">
                                                 <div class="reply">
                                                     <h2>
                                                         <a href="#">
                                                             @c.userCom.nom  @c.userCom.prenom
                                                         </a>
                                                     </h2>
                                                     <p>@c.datCom.ToShortDateString()</p>
                                                 </div>

                                             </div>

                                             <div>
                                                 <p>@c.sujetCom</p>
                                             </div>

                                         </div>
                                     </div>
                                 }


                             }
                                 <input type="hidden" id="hiddenidstat" />
                             </div>

                            <div class="our-reply-form-area mt--20">
                      
                            </div>
                            <!-- End Reply Form -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 smt-30 xmt-40">
                <div class="blod-details-right-sidebar">
                    <div class="blog-details-top">
                        <h2 hidden>Lets talk !</h2>
                        <div class="blog-admin-and-comment" hidden>
                            <p hidden>BY : <a hidden href="#">ADMIN</a></p>
                            <p hidden class="separator">|</p>
                            <p hidden>3 COMMENTS</p>
                        </div>
                        <!-- Start Category Area -->
                        <!-- End Category Area -->
                        <!-- Start Letaest Blog Area -->
                        <div class="blog-details-top">
                            <div class="postandshare">
                                <div class="post">
                                    <p>TAGS :</p>
                                </div>
                            </div>
                            <div id="pos">
                                <h2 class="section-title-2">LEAVE A POST</h2>
                                <div class="reply-form-inner mt--40">
                                    <div class="reply-form-box">
                                        <div class="reply-form-box-inner">

                                            <div class="reply-form-box">
                                                <input name="message" placeholder="Post some things" id="inputx" type="text" />
                                            </div>
                                            <div class="blog__details__btn">
                                                <a class="htc__btn btn--gray" id="btnValidate" href="#" onclick="javascript: PostPost();">Post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="com">
                                <h2 class="section-title-2">LEAVE A COMMENT</h2>
                                <div class="reply-form-inner mt--40">
                                    <div class="reply-form-box">
                                        <div class="reply-form-box-inner">
                                            <div id="lou">
                                                <div class="reply-form-box">
                                                    <input name="message" placeholder="Post some things" id="inputc" type="text" />

                                                </div>
                                                <div class="blog__details__btn">
                                                    <a class="htc__btn btn--gray" id="btnCom" href="#" onclick="javascript: Postcomment();">Commenter</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Letaest Blog Area -->
                            <!-- Start Tag -->
                            <!-- End Tag -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#com').hide();
    });
    function PostPost() {

        var postt = $("#inputx").val();
        $("#btnValidate");
        $.ajax({
            method: "POST",
            url: "/Statu/AddStatu/",
            data: { subject: postt },
            success: function () {
                window.location.reload();
                $("#inputx").val('');
            }
        });
    }
    var comAction = function (statid) {
        $("#hiddenidstat").val(statid);
    }
   function Postcomment() {
       var com = $("#inputc").val();
       var idd = $("#hiddenidstat").val();
        
        console.log(idd);
      
        $("#btnCom");
        
        $.ajax({
            method: "POST",
            url: "/Statu/AddComToStat/",
            data: { id: parseInt(idd), subject: com },
            success: function () {
                $("#com").hide();
                $("#pos").show();
                $("#load").load(location.href + " #load>*", "");
                $("#inputc").val('');
            }
        });
    }
   
    jQuery(document).ready(function () {
        jQuery('.comment-reply').on('click', function (event) {
           jQuery('#com').toggle('show');
            jQuery('#pos').toggle('fast');
            
        });
    });
</script>