﻿@model IEnumerable<domain.Produit>

@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="product__menu">
            <button data-filter="All" class="is-checked" id="cour">Cours</button>
            <button data-filter="*" class="is-checked" id="serie" onclick="mySerie()">Series</button>
            <button data-filter="*" class="is-checked" id="td" onclick="myTd()">TD</button>
        </div>
    </div>
</div>
<section id="shop" class="htc__product__area pb--120 pt--40">
    <div class="container-fluid">
        <div class="htc__product__container product__filter--7 product__with__filter  pb--20">

            <div class="row">
                <div class="product__style--7 product__list clearfix">
                    <!-- Start Single Product -->
                    @foreach (var item in Model)
                    {

                        <div class="col-md-4 single__pro col-lg-3 cat--1 cat--3 col-sm-6 col-xs-12">



                            <div class="product">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a href="#">
                                            <img src="~/Content/images/product-3/1.png" alt="product images">
                                        </a>
                                    </div>
                                    <div class="popular__product__hover__info">
                                        <ul class="product__action">


                                            <li><a data-toggle="modal" data-target="#productModal-@item.idProduit" title="Quick View" class="quick-view modal-view detail-link" href=""><span class="ti-plus"></span></a></li>
                                            @if (Request.IsAuthenticated)
                                            {
                                                <li><a title="Add To Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                                                <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__details">
                                    <h2>
                                        <a href="product-details.html"> @Html.DisplayFor(modelItem => item.description) </a>
                                        @{ViewBag.description = item.description;}
                                    </h2>
                                    <span class="popular__pro__prize"> @Html.DisplayFor(modelItem => item.prix) dt</span>
                                    @{ViewBag.prix = item.prix;}
                                    <div hidden>
                                        @Html.DisplayFor(modelItem => item.categorie)
                                        @{ViewBag.categorie = item.categorie;}
                                    </div>
                                    <div hidden class="categorie">@{ViewBag.categorie = item.categorie.ToString();}</div>
                                </div>
                            </div>

                        </div>

                        <div class="modal fade" id="productModal-@item.idProduit" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal__container" role="document">
                                <div class="modal-content">
                                    <div class="modal-header modal__header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-product">
                                            <!-- Start product images -->
                                            <div class="product-images">
                                                <div class="main-image images">
                                                    <img alt="big images" src="~/Content/images/product/big-img/1.jpg">
                                                </div>
                                            </div>
                                            <!-- end product images -->
                                            <div class="product-info">
                                                <h1>@ViewBag.categorie</h1>

                                                <div class="rating__and__review">
                                                    <ul class="rating">
                                                        <li><span class="ti-star"></span></li>
                                                        <li><span class="ti-star"></span></li>
                                                        <li><span class="ti-star"></span></li>
                                                        <li><span class="ti-star"></span></li>
                                                        <li><span class="ti-star"></span></li>
                                                    </ul>
                                                    <div class="review">
                                                        <a href="#"></a>
                                                    </div>
                                                </div>
                                                <div class="price-box-3">
                                                    <div class="s-price-box">
                                                        <span class="new-price">@ViewBag.prix dt</span>
                                                        <span class="old-price">@ViewBag.prix dt</span>
                                                    </div>
                                                </div>
                                                <div class="quick-desc">
                                                    @ViewBag.description
                                                </div>
                                                <div class="addtocart-btn">
                                                    <a href="#">Add to Cart</a>
                                                </div>
                                            </div><!-- .modal-product -->

                                        </div><!-- .product-info -->
                                    </div><!-- .modal-body -->
                                </div><!-- .modal-content -->
                            </div><!-- .modal-dialog -->
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        document.getElementById("cour").onclick = function () {
            var categ = $(".categorie").val().toLowerCase();
            console.log(categ);
            $(".product").each(function myCour() {

                if (!Contains(categ, "0")) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }


            });
        };



    });
</script>