﻿@model domain.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    
        <h5 class="card-header">Nouvelle utilisateur</h5>
        @using (Html.BeginForm("Create", "UserBack", htmlAttributes: new { id = "validationform" }, method: FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            if (ViewBag.Status != null && !Convert.ToBoolean(ViewBag.Status))
            {

            }
            else
            {
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Nom</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le nom*" } })
                    @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Prenom</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le prenom*" } })
                    @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Login</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le login*" } })
                    @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Email</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "donner l' email*" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Mot de passe</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le mot de passe*" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-12 col-sm-3 col-form-label text-sm-right">Mot de passe</label>
                <div class="col-12 col-sm-8 col-lg-6">
                    @Html.EditorFor(model => model.Confirmpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le mot de passe*" } })
                    @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row text-center">
                <div class="col-md-offset-2 col-md-10">
                    <a href="javascript:document.getElementById('validationform').submit();" onclick="javascript: myFunction();" class="btn btn-space btn-primary">Create</a>
                    <a href="/UserBack/Index" class="btn btn-space btn-secondary">Annuler</a>
                </div>
            </div>
        </div>

            }




        }
       
    
</div>
<script>
    var form = document.getElementById('validationform');

    function myFunction() {
        if (form.checkValidity()) {
            alert("Utilisateur ajouter !!!");
        }
    }
</script>







