﻿@model domain.User

@{
                /**/

                ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm("Edit", "UserBack", htmlAttributes: new { id = "validationform" }, method: FormMethod.Post))
{
    @Html.AntiForgeryToken()

    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idUser)

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Nom</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le nom*" } })
                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Prenom</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le prenom*" } })
                @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Login</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le login*" } })
                @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Email</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "donner l' email*" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Mot de passe</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le mot de passe*" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Confirmer mot de passe</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EditorFor(model => model.Confirmpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "donner le mot de passe*" } })
                @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">Role</label>
            <div class="col-12 col-sm-8 col-lg-6">
                @Html.EnumDropDownListFor(model => model.role, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row text-center">
            <div class="col-md-offset-2 col-md-10">
                <a href="javascript:document.getElementById('validationform').submit();" onclick="javascript: myFunction();" class="btn btn-space btn-primary">Modifier</a>
                <a href="/UserBack/Index" class="btn btn-space btn-secondary">Annuler</a>
            </div>
        </div>
    </div>
    

}

    <script>
        var form = document.getElementById('validationform');

        function myFunction() {
            
            if (form.checkValidity()) {
                
                alert("Utilisateur modifier avec succes !");
            }
        }
    </script>


