﻿
@model IEnumerable<domain.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 style="text-align:center;color:aqua;" class="pageheader-title">Gestion utilisateurs </h2>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", new { @class = "card-link" })
</p>
<div>
    <table class="table">
        <thead class="bg-light">
            <tr class="border-0">
                <th>
                    @Html.DisplayNameFor(model => model.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.prenom)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.role)
                </th>
               
                <th>
                    Action
                </th>
                
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            @Html.Hidden("itemid", item.idUser, new { id = "itemid" })
            <tr id="row_@item.idUser">
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prenom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
               
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.idUser }) |
                    <a href="#" onclick="ConfirmDelete(@item.idUser)">Supprimer</a>
                </td>
            </tr>
        }

    </table>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Supprimer !</h3>
                </div>
                <div class="modal-body">
                    <h4>Voulez-vous bannir cette utilisateur ?? </h4>

                    <div style="text-align:center;display:none" id="loaderDiv">
                        <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Annuler</a>
                    <a href="#" class="btn btn-success" onclick="DeleteUser()">Confirmer</a>
                </div>

            </div>

        </div>

    </div>


    @*hidden field for storing current userId*@
    <input type="hidden" id="hiddenEmployeeId" />

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script>

    var ConfirmDelete = function (EmployeeId) {

        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal('show');

    }

    var DeleteUser = function () {

       // $("#loaderDiv").show();

        var empId = $("#hiddenEmployeeId").val();

        $.ajax({

            type: "POST",
            url: "/UserBack/Delete/",
            data: { id: empId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + empId).remove();

            }

        })

    }
</script>

