﻿<!doctype html>
<html lang="en">

<!-- Mirrored from colorlib.com//polygon/concept/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Feb 2020 21:18:34 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>BookShop</title>
</head>
<body>



    <div class="dashboard-main-wrapper">



        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">e-Book</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                       
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                      
                        <li class="nav-item dropdown nav-user">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Content/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">

                                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off mr-2"></i>Logout</a>
                                    </div>
                                }
                            }
                                </li>
                    </ul>
                </div>
            </nav>
        </div>






        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">

                            <li class="nav-item ">
                                <a class="nav-link active" href="/UserBack/Index"><i class="fa fa-fw fa-user-circle"></i>Mes Utilisateurs <span class="badge badge-success">6</span></a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ProduitBack/Index"><i class="fa fa-fw fa-rocket"></i>Mes Produits</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/CommandeBack/Index"><i class="fas fa-fw fa-chart-pie"></i>Mes Commandes</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/StatuBack/Index"><i class="fas fa-fw fa-chart-pie"></i>Consulter Blog</a>

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>






        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">



                    



                    <div class="ecommerce-widget">

                        <div class="row">




                            <div class="col-xl-100 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                  
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                           
                                            @RenderBody()
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>



    </div>





    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/libs/js/main-js.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>
    <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>
    <script src="~/Content/assets/libs/js/dashboard-ecommerce.js" type="b320bd4dd63fae0bb331e461-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="b320bd4dd63fae0bb331e461-text/javascript"></script>
    <script type="b320bd4dd63fae0bb331e461-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="~/Content/ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="b320bd4dd63fae0bb331e461-|49" defer=""></script>
</body>

<!-- Mirrored from colorlib.com//polygon/concept/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Feb 2020 21:19:10 GMT -->
</html>