﻿<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from preview.freethemescloud.com/uniqlo/index-8.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jan 2020 20:36:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eBookShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/Content/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/Content/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/Content/css/custom.css">


    <!-- Modernizr JS -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/Content/images/logo/uniqlo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop">
                                        <a href="/Produit/Index">Acceuil</a>
                                    </li>
                                    <li>
                                        <a href="/Home/About">
                                            À propos de nous
                                        </a>
                                    </li>
                                    <li class="drop">
                                        <a href="/Statu/Index">Blog</a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index.cshtml">Home</a>
                                        </li>
                                        <li><a href="/Home/About.cshtml">About</a></li>
                                        <li>
                                            <a href="blog.html">blog</a>
                                            <ul>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-sm-4 col-xs-3">
                            <ul class="menu-extra">
                                <li class="search search__open hidden-xs"><span class="ti-search"></span></li>

                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <li> <a href="javascript:document.getElementById('logoutForm').submit()"><span class="ti-shift-left"></span></a></li>
                                    }
                                }
                                else
                                {
                                    <li><a href="/Login/Login"><span class="ti-user"></span></a></li>
                                }
                                <li class="cart__menu"><a><span class="ti-shopping-cart"></span></a></li>
                                <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart" >
                <div class="shopping__cart__inner">
                    <!-- Start Offset Wrapper -->

                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap" id="co">
                        @using web.Models
                        @if (Session["cart"] != null)
                        {
                            var sum = 0.0f;
                            var indexx = 0;
                            
                            foreach (Item item in ((List<Item>)Session["cart"]))
                            {
                                sum = sum + item.Quantity * item.Pr.prix;
                                ViewBag.sum = sum;
                                indexx = ((List<Item>)Session["cart"]).IndexOf(item);
                                ViewBag.indexx = indexx;

                                <div class="shp__single__product" >
                                    <div class="shp__pro__thumb">
                                        <a href="#">
                                            <img src="@Url.Content(item.imagePath)" width="150" height="70" />
                                        </a>
                                    </div>
                                    <div class="shp__pro__details">
                                        <a href=""></a>
                                        <h2><a href="product-details.html">@item.Pr.description</a></h2>
                                        <span class="quantity">QTY : @item.Quantity</span>
                                        <span class="shp__price">PRICE : @item.Pr.prix dt</span>
                                        
                                    </div>
                                    <div class="remove__btn">
                                        <a href="@Url.Action("Delete","ShoppingCart", new { idProd = item.Pr.idProduit })"><i class="zmdi zmdi-close"></i></a>
                                     </div>
                                </div>


                            }
                            <ul class="shoping__total">
                                <li class="subtotal">Subtotal:</li>
                                <li class="total__price">@ViewBag.sum</li>
                            </ul>
                            <ul class="shopping__btn">
                                <li><a href="cart.html">View Cart</a></li>
                                <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                            </ul>


                        }




                    </div>
                </div>
                <!-- End Cart Panel -->
            </div>
            <div class="slider__container slider--one">
                <div class="slider__activation__wrap owl-carousel owl-theme">
                    <!-- Start Single Slide -->
                    <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(http://localhost:60121/Content/images/slider/bg/1.png) no-repeat scroll center center / cover ;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                    <div class="slider__inner">
                                        <h1>New Product <span class="text--theme">Collection</span></h1>
                                        <div class="slider__btn">
                                            <a class="htc__btn" href="cart.html">shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                    <!-- Start Single Slide -->
                    <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(http://localhost:60121/Content/images/slider/bg/2.png) no-repeat scroll center center / cover ;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                    <div class="slider__inner">
                                        <h1>New Product <span class="text--theme">Collection</span></h1>
                                        <div class="slider__btn">
                                            <a class="htc__btn" href="cart.html">shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                </div>
            </div>

            <!-- End Offset Wrapper -->
            <!-- Start Slider Area -->
            <!-- Start Slider Area -->
            <!-- Start Our Product Area -->
            <section class="htc__product__area ptb--130 bg__white">
                <div class="container">
                    <div class="htc__product__container">
                        <!-- Start Product MEnu -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product__menu">
                                   
                                </div>
                            </div>
                        </div>
                        <!-- End Product MEnu -->
                        <div class="row">
                            <div class="product__list">

                                @RenderBody()

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Our Product Area -->
            <!-- Start Footer Area -->
            <footer class="htc__foooter__area" style="background: rgba(0, 0, 0, 0) url(http://localhost:60121/Content/images/blog/big-images/12.jpg) no-repeat scroll center center / cover;">
                <div class="container">
                    <div class="row">
                        <div class="footer__container clearfix">
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-3 col-lg-3 col-sm-6">
                                <div class="ft__widget">
                                    <div class="ft__logo">
                                        <a href="/Produit/Index">
                                            <img src="~/Content/images/logo/uniqlo.png" alt="footer logo">
                                        </a>
                                    </div>
                                    <div class="footer__details">
                                        <p>Get 10% discount with notified about the latest news and updates.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6 smb-30 xmt-30">
                                <div class="ft__widget">
                                    <h2 class="ft__title">Newsletter</h2>
                                    <div class="newsletter__form">
                                        <div class="input__box">
                                            <div id="mc_embed_signup">
                                                <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                    <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                        <div class="news__input">
                                                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                                        </div>
                                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                        <div class="clearfix subscribe__btn">
                                                            <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-3 col-lg-3 col-sm-6 smt-30 xmt-30">
                                <div class="ft__widget contact__us">
                                    <h2 class="ft__title">Contact Us</h2>
                                    <div class="footer__inner">
                                        <p>319 Clematis St.<Br>Suite 100 WPB, FL 33401</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                            <!-- Start Single Footer Widget -->
                            <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                                <div class="ft__widget">
                                    <h2 class="ft__title">Follow Us</h2>
                                    <ul class="social__icon">
                                        <li><a href="https://twitter.com/devitemsllc" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com/devitems/" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="https://plus.google.com/" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Footer Widget -->
                        </div>
                    </div>
                    <!-- Start Copyright Area -->
                    <div class="htc__copyright__area">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="copyright__inner">
                                    <div class="copyright">
                                        <p>
                                            © 2020 <a href="https://devitems.com/" target="_blank">Devitems</a>
                                            All Right Reserved.
                                        </p>
                                    </div>
                                    <ul class="footer__menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="shop.html">Product</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Copyright Area -->
                </div>
            </footer>
            <!-- End Footer Area -->
        </div>
        <!-- Body main wrapper end -->
        <!-- QUICKVIEW PRODUCT -->
        <div id="quickview-wrapper">
            <!-- Modal -->
            <!-- END Modal -->
        </div>
        <!-- END QUICKVIEW PRODUCT -->
        <!-- Placed js at the end of the document so the pages load faster -->
        <!-- jquery latest version -->
        <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="~/Content/js/plugins.js"></script>
        <script src="~/Content/js/slick.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <!-- Waypoints.min.js. -->
        <script src="~/Content/js/waypoints.min.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src="~/Content/js/main.js"></script>
        
      
</body >



</html >
